{{! The footer, with the copy right }}
<footer class="site-footer">
    <a class="subscribe" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i><span class="tooltip">Subscribe!</span></a>
    <div class="inner">
        <section class="copyright">Copyright &copy; 2009 - {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a> &bull; All rights reserved. My works are licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a> <img src="/assets/images/creativecommons-licenses-80x15.png" alt="creativecommons licenses" /></section>
        <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> using <strong><a href="http://swordair.com/grayliner-theme/">grayliner</a></strong> theme, linking data via <img class="img-json-ld" width ="16" height="16" src="/assets/images/json-ld-data.svg" alt="json-ld" /> JSON-LD, hosted on Aliyun.</section>
    </div>
</footer>