{{!< default}}

{{> header}}

{{! The main content area on the homepage }}
<main class="content" role="main">

        <header class="tag-archive-header">
            <h1>{{tag.name}}</h1>
        </header>

    {{> "loop"}}

</main>